body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.point-cell {
  fill: #ffffff;
  pointer-events: all;
  stroke: #000;
  stroke-opacity: .2;
  fill-opacity: .2;
}

.point circle {
  pointer-events: none;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#selected,
#selections,
#loading:after,
#about {
  position:absolute;
  background-color: #FFF;
  opacity: 0.8;
  border-radius: 2px;
  padding: 5px 5px 0 5px;
  bottom: 10px;
}

#about.visible {
  width: 200px;
}

#about .hide {
  padding-bottom: 0;
  text-align: right;
}

#loading.visible:after {
  top: 50%;
  left: 50%;
  height: 60px;
  width: 80px;
  margin-left: -50px;
  margin-top: -30px;
  content: 'drawing...';
  font-size: 18px;
}

#selections {
  right:10px;
  top:90px;
  width: 140px;
  display: none;
}

#selections label {
  //display: block;
  padding-bottom: 8px;
}

#selections input[type=checkbox] {
  position: relative;
  top: -1px;
}

#selections .key {
  //display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0 5px;
}

#selected {
  bottom: 5px;
  left: 5px;
  height: 45px;
}

#selected h1 {
  font-size: 20px;
  color: #000060;
  margin: 0px;
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#showinfo {
      	position: absolute;
	display: none;
	pointer-events: none;
	text-align: left;
	font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 999;
  	color: #FFFFFF;
  	background-color: #00008B;
  	font-weight: 300;
//	padding: 5px;
//	border: solid #ccc 1px;
      }

.hide,
.show {
  padding-bottom: 10px;
  display: block;
}

.content {
  display: none;
}

@media (min-width: 480px) {
  .selections .content {
  //  display: block;
  }
  .selections .show {
  //  display: none;
  }
}

.hidden .content,
.visible .show {
  display: none;
}

.hidden .show,
.visible .content {
  display: block;
}

@media (max-width: 480px) {
  #selected {
    box-sizing: border-box;
    width: 80%;
    height: 32px;
  }

  #selected h1 {
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
  }
}

.mapbox-control-info {
  display: none !important;
}
